@{
    ViewBag.Title = "Home Page";
}

@section scripts {
    <script>
        function DeviceCtrl($scope) {
            var parser = new UAParser();
            var deviceHub = $.connection.deviceHub;

            deviceHub.client.deviceJoined = function (spec) {
                console.log(spec);
                $scope.$apply(function() {
                    ($scope.devices = $scope.devices || []).push(spec);
                });
            };

            deviceHub.client.openFileDialog = function () {
                console.log('opening file dialog');
            };

            $scope.openFileDialog = function(device) {
                deviceHub.server.openFileDialog(device);
            };

            $.connection.hub.start()
                .done(function () {
                    var result = parser.getResult();
                    deviceHub.server.register(result);
                    deviceHub.server.getDevices()
                        .done(function (devices) {
                            $scope.$apply(function () {
                                $scope.devices = devices;
                            });
                        });

                });
        }
        
    </script>
}

<div class="jumbotron" ng-controller="DeviceCtrl">
    <p class="lead">Upload an image.</p>
    <div class="sell-item-image">
        <li data-image-browse-area="">
            <button class="remove-button" data-ng-show="false" data-ng-click="slot.removeImage()" style="display: none;">
                <span></span>
            </button>
            <img data-ng-show="slot.hasImage()" data-ng-src="" class="ng-hide">
            <figure class="empty" data-ng-hide="false"></figure>
            <figure class="progress ng-hide" data-ng-show="false" data-spinner=""></figure>
            <input type="file" name="imageInput">
        </li>
    </div>
    <ul>Devices
        <li ng-repeat="device in devices" ng-click="openFileDialog()">{{device.Spec.os.name}}</li>
    </ul>
</div>

